{{!-- Setup the index.handlebars to have the template that Handlebars can render onto. Create a button in index.handlebars
that will submit the user input into the database. --}}

<h1>Burgers!</h1>

<h2>Burgers you can enjoy!</h2>
<ul>
  {{#each burgers}} 
    {{#unless this.devoured}} 
    <form method="post" action="/resource?_method=put">

  <li>
    {{this.burger_name}}

    <button class="change-burgers" data-id="{{id}}">
      Available!
    </button>

  </li>
  </form>
    {{/unless}} 
  {{/each}}
</ul>

<h2>Burgers that someone already ate!</h2>

<ul>
  {{#each burgers}} 
    {{#if this.devoured}} 
    <li>
    {{this.burger_name}}

    Already eaten!

  </li>
    {{/if}} 
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form" >

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="burger">Burger?</label>
    <br>
    <input type="radio" name="burger" value="1" checked> Burger's Available!
    <br>
    <input type="radio" name="burger" value="0"> Already Gone
  </div>

  <button type="submit">Submit</button>
</form>